div.attribute {
    text-align: left;
    color: white;

    display: inline-block;
    padding: 5px;

    border-radius: 6px;
    max-height: min-content;
}
div.attribute:hover {
    font-weight: 500;
    text-shadow: 0px 2px 5px white;
}
div.at_container {
    /* position: fixed;
    height: auto;
    width: 100%;

    top: 0;
    left: 0;
    right: 0; */

    overflow: overlay;
    width: 100%;

    border-radius: 6px;
}

/* TOP RIGHT */
div.tr_container {
    /* position: fixed;
    top: 0;
    right: 0; */

    border-radius: 6px;
    margin-top: 5px;
    margin-right: 5px;
}
div.debug {
    text-align: center;
    color: white;

    /* top: 5px;
    right: 5px;
    bottom: auto; */
    width: 300px;
    padding: 5px;

    border-radius: 6px;
}
div.bar {
    position: fixed;
    height: 20px;
    width: 0px;
    text-align: center;
    line-height: 30px;
    color: white;

    border-radius: 6px;
}
div.barholder {
    height: 20px;
    width: 318px;
    background-color: #ffffff10;
    top: 21%;
    right: 5px;
    display: block;

    border-radius: 6px;
    margin-top: 5px;
}
div.inventory {
    text-align: center;
    color: white;

    right: 5px;
    width: 300px;
    padding: 5px;

    border-radius: 6px;
    margin-top: 5px;

    max-height: 250px;
    /*275px;*/
    overflow-y: scroll;
}
div.toggleinventory {
    position: absolute;

    margin-left: 5px;
    margin-top: 5px;
}

/* BOTTOM RIGHT */
div.br_container {
    /* position: fixed;
    bottom: 0;
    right: 0; */

    border-radius: 6px;
    /* margin-bottom: 5px;
    margin-right: 5px; */

    padding: 5px;
    grid-gap: 5px 0px;
    grid-template-columns: auto;
    grid-auto-flow: dense;
    display: grid;

    align-items: stretch;
    justify-items: stretch;

    width: 318px
}
div.iteminfo {
    text-align: left;
    color: white;

    height: min-content;
    /* width: 300px; 300px*/
    align-self: end;
    padding: 5px;

    border-radius: 6px;
    display: none;
}
div.quests {
    text-align: center;
    color: white;

    height: min-content;
    margin-top: 5px;
    width: 300px;
    align-self: end;
    padding: 5px;

    border-radius: 6px;
}

/* BOTTOM LEFT */
div.bl_container {
    /* position: fixed;
    bottom: 0;
    left: 0; */

    border-radius: 6px;
    margin-bottom: 5px;
    margin-left: 5px;

    /* display: grid; */
}
div.locations {
    text-align: center;
    color: white;

    bottom: 5px;
    right: 5px;
    width: 300px;
    padding: 5px;

    border-radius: 6px;
    margin-top: 5px;
}
div.actions {
    text-align: center;
    color: white;

    bottom: 5px;
    left: 5px;
    width: 300px;
    padding: 5px;

    border-radius: 6px;
    margin-top: 5px;
}
div#chestinv.actions {
    max-height: 250px;
    /*275px;*/
    overflow-y: scroll;
}

/*TEST*/
div.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  /* grid-template-areas: ". . . ." ". . . tr_c" "bl_c blr_c . br_c"; */
  grid-template-areas: ". . . tr_c" ". . . ." "bl_c blr_c . br_c";

  margin: -10px;
  margin-bottom: -200px;

  overflow: overlay;
}

div.bl_c {
  grid-area: bl_c;
  align-self: end;

  overflow: overlay;
}

div.blr_c {
  grid-area: blr_c;
  align-self: end;

  overflow: overlay;
}

div.tr_c {
  grid-area: tr_c;
  justify-self: end;

  /* overflow: overlay; */
}

div.tl_c {
    width: max-content;
    grid-auto-flow:
    column; height:
    min-content;
    display: grid;
    grid-gap: 5px;
    margin: 5px;
}

div.br_c {
  grid-area: br_c;
  justify-self: end;
  align-self: end;

  overflow: overlay;
}

info {
    background-color: #0181ff25;
    font-size: 14px;
    text-align: left;
    padding: 5px;

    border: 4px transparent;
    border-radius: 6px;
    border-left: solid 5px #0181ff;

    animation-direction: alternate;
    opacity: 0;

    max-width: 304px;

    box-shadow: inset 0px 2px 10px #00000025;
}
info + info {
    margin-top: 5px;
}
div.info {
    text-align: center;
    color: #0181ff;

    /* width: 300px; */
    width: 100%;
    display: grid;
}

.button {
    background-color: #00000035;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;

    border-radius: 6px;

    box-shadow: inset 2px 2px 10px #00000025;
}
.button + .button {
    margin-left: 5px;
    margin-top: 5px;
}
.button:hover {
    font-weight: 500;
    /* background-color: #84c1ff; */
    box-shadow: inset 0px 0px 50px #00000050;
    text-shadow: 0px 2px 5px white;
}
.button:active {
    box-shadow: inset 0px 0px 50px #00000080;
}

@keyframes fadeInOut {
    0% { opacity: 0; display: none; }
    25% { opacity: 1; display: block; }
    50% { opacity: 1; display: block; }
    75% { opacity: 0; display: none; }
    100% { opacity: 0; display: none; }
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f110;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1cc;
}

div {
    transition: width 1.25s ease-out;
}
div.default_colors {
    border: 4px solid #00000010;
    background-color: #0d4c7d;
    /*0181fff */
}
div.default_colors_nb {
    background-color: #0d4c7d;
}
div.bronze {
    border: 4px solid #00000010;
    background-color: #cd7f32;
}
div.silver {
    border: 4px solid #00000010;
    background-color: #c0c0c0;
}
div.gold {
    border: 4px solid #00000010;
    background-color: #d8c250;
}

w {
    font-weight: 500;
}

* {
    font-family: 'Rubik', sans-serif;
    user-select: none;
}
body {
    background-color: #161d2d;
}
